<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css" />
</head>
<body>
    <div class="topo">
        @RenderPage("~/Views/Shared/_Header.cshtml")
    </div>
    <div class="conteudo">
        @RenderBody()
    </div>
    <div class="rodape">
        @RenderPage("~/Views/Shared/_Footer.cshtml")
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
</body>
</html>